@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy-blue: #1D1042;
  --white: #FFFFFF;
  --light-blue: #45269C;
  --black: #000000;
  --grey: #FCFBFC;
}

@font-face {
  font-family: inter-regular;
  src: url('./Fonts/inter/Inter-Regular.ttf');
}

@font-face {
  font-family: inter-light;
  src: url('./Fonts/inter/Inter-light.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: inter-regular;
}

.df {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.jc-c {
  justify-content: center;
}

.ai-fe {
  align-items: flex-end;
}

.mt-18 {
  margin-top: 18px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-57 {
  margin-bottom: 57px;
}

.p-r {
  position: relative;
}

.p-a {
  position: absolute;
}

.flex-1 {
  flex: 1;
}

.mt-8 {
  margin-top: 8px;
}

.gap-40 {
  gap: 40px;
}

.fw-w {
  flex-wrap: wrap;
}


::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e5e5; 
  border-radius: 50px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161); 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.menu_btn__burger {
  position: absolute;
  right: 0;
  top: 14px;
  width: 28px;
  height: 3px;
  background-color: white;
  transition: all 0.5s ease-in-out;
}
.menu_btn__burger::before {
  content: "";
  width: 28px;
  height: 3px;
  position: absolute;
  top: -8px;
  background-color: white;
  transition: all 0.5s ease-in-out;
}
.menu_btn__burger::after {
  content: "";
  width: 20px;
  height: 3px;
  position: absolute;
  top: 8px;
  background-color: white;
  transition: all 0.5s ease-in-out;
}
.menu_btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu_btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu_btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.trans {
  transition: all 0.5s ease-in-out;
}